* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.main {
    width: 100%;
    height: 175em;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.chamada {
  margin-top: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flipCardContainer {
    perspective: 1000px;
    width: 300px;
    height: 400px;
    margin: auto;
    animation-name: projectsEffect;
    animation-duration: 1.5s;
  }
  
  .flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  .flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
  }
  
  .flipCardBack {
    transform: rotateY(180deg);
  }
  
  .cardConteudo {
    text-align: center;
  }
  
  .foto {
    height: 200px;
    object-fit: cover;
  }

.titulos {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.footer {
  background-color: #F8AFBC;
  height: 7em;
  width: 100%;
}

@keyframes projectsEffect {
  from {transform: translate(-150px);}
}

  
@media only screen and (min-width: 2500px) {
  .main {
    width: 50%;
    margin: 0 auto;
  }
}