* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.sundaes {
    width: 100%;
    height: 20em;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}


  .card {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 30em;
    height: 20em;
    margin: 2em;
    border-radius: 10%;
}

.cardConteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.foto {
    height: 10em;
    width: 10em;
}